*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.ilk
*.pdb
*.Debug
*.Release
ShaderEditor/ShaderEditor.exe
ShaderEditor/logfile.txt
ShaderEditor/qt/project/release/
ShaderEditor/qt/project/debug/
ShaderEditor/qt/project/Makefile
ShaderEditor/Debug/
ShaderEditor/Release/
ShaderEditor/Assets/Shaders/Generated/
ipch/
html/