*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.ilk
*.pdb
ShaderEditor/ShaderEditor.exe
ShaderEditor/logfile.txt
ShaderEditor/Debug/
ShaderEditor/Release/
ShaderEditor/Assets/Shaders/Generated/
ipch/
html/
