*.opensdf
*.sdf
*.suo
*.db
*.vcxproj.user
*.ilk
*.pdb
*.Debug
*.Release
ShaderEditorGUI/ShaderEditorGUI.exe
ShaderEditorGUI/Debug/
ShaderEditorGUI/Release/
ShaderEditorGUI/qt/release/
ShaderEditorGUI/qt/debug/
ShaderEditorGUI/qt/Makefile
ShaderEditor/ShaderEditor.exe
ShaderEditor/logfile.txt
ShaderEditor/Debug/
ShaderEditor/Release/
ShaderEditor/Assets/Shaders/Generated/
ipch/
html/
